:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: grey;
  background-color: grey;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




.article-card {
  border: 1px solid darkred;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: whitesmoke;
}

.article-card img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
}

.comment-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-card p {
  margin: 0;
}

.comment-card span {
  font-style: italic;
}